

@{
    ViewBag.Title = "Teachers";
}
 &nbsp;
<div class="row wrapper wrapper-content " id="Welcome">
    <div class="col-lg-12">
        <div class="align-middle text-center animated fadeInRightBig" id="basicText2">
            &nbsp;
            <h3> <strong style="color:white;font-size:medium">Teachers</strong></h3>
            <div class="form-group w-100"></div>

            <row>
                <div class="col-md-4 col-sm-6"></div>

                <div class="col-md-4 col-sm-6">
                    <div class="panel panel-default parentTwo">
                        <div class="panel-heading childTwo">
                            <i class="fa fa-institution" style="color:darkslategrey"></i> Teachers
                        </div>
                        <div class="panel-body">
                            <p style="padding-left:5px;padding-right:5px;">
                                <a class="btn btn-default" href="@Url.Action("Index", "TCHR/Teachers")"> <i class="fa fa-forward"></i> Access </a>
                            </p>

                        </div>


                    </div>
                </div>

                <div class="col-md-4 col-sm-6"></div>


            </row>

            

            <div class="form-group w-100"></div>
            &nbsp;
        </div>
    </div>

</div>

<style>

    #Welcome {
        background: rgba(00,00,00,0.5);
    }

    .iconChild {
        color: #138F6A;
        background-color: white;
        border-color: #138F6A;
        border-radius: 100px 100px;
    }

    #page-wrapper {
        background-color: whitesmoke;
    }
</style>






