<div class="footer">
    <div class="pull-right">
        PCMS
    </div>
    <div>
        <strong>Copyright</strong> ©  2014 -
        <script type="text/javascript">document.write(new Date().getFullYear());</script> 
    </div>
</div>

<script type="text/javascript">

       window.onload = function () {
            var i = 0; var previous_hash = window.location.hash;
            var x = setInterval(function () {
                i++; window.location.hash = "/noop/" + i;
                if (i == 10) {
                    clearInterval(x);
                    window.location.hash = previous_hash;
                }
            }, 10);
    }

</script>