@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PCMS | Forgot Password</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    @*<link href="~/Content/PRoleStyle.css" rel="stylesheet" />*@
    <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>

    <script type="text/javascript">

        window.onload = function () {
            var i = 0; var previous_hash = window.location.hash;
            var x = setInterval(function () {
                i++; window.location.hash = "/noop/" + i;
                if (i == 10) {
                    clearInterval(x);
                    window.location.hash = previous_hash;
                }
            }, 10);
        }

    </script>

</head>

<body class="gray-bg" style="">

    @{
        if (TempData["ResetCheck"] != null)
        {
            <link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
            <script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
            <script type="text/javascript">
            swal("Successful!",@Html.Raw(Json.Encode(TempData["ResetCheck"])), "success");
            </script>
        }

    }

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            @{
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group col-lg-12" style="padding: 8%;  padding-top: 2%;  margin-top: 4%;   box-shadow: 0 0 10px #808080; border-radius: 3px; background: rgba(0, 0, 0, 0.7);">
                    <form class="m-t" role="form" action="@Url.Action("ForgotPassword", "PCMSSysAdmin")" method="post">
                        @Html.AntiForgeryToken()

                        <p class="text-muted text-center"><b>Request Password</b></p>

                        <div class="form-group">
                            @{
                                if (TempData["ResetCheck"] == null)
                                {
                                    <input type="submit" class="btn btn-primary block full-width m-b" value="Reset Password" />
                                }
                                else
                                {
                                    <input type="submit" class="btn btn-primary block full-width m-b" value="Reset Password" disabled />
                                }
                            }

                            <a class="btn btn-white btn-block" href="@Url.Action("Index", "Home")">Cancel</a>

                        </div>
                        <br /><br />
                        <br /><br />

                    </form>
                </div>
            }

        </div>
    </div>


</body>

</html>
